#second span {
    margin-left: 5%;
}

.active{
    color: red;
    font-weight: 700;
}

input[type="text"] {
    display: block;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: none;
}

input[type="text"]:focus {
    outline: none;
}

input[type=submit] {
    width: 100%;
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
}

TABLE {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
}

TD, TH {
    padding: 3px;
    border: 1px solid black;
}

TH {
    background: #b0e0e6;
    font: 12pt Arial;
}

#table1 {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

#table1 TH, #table1 TD {
    border: 1px solid black;
    text-align: center;
/ padding: 4 px;
}

#table1 TH {
    background: #fc0;
    height: 40px;
/ vertical-align: bottom;
    padding: 0;
}

.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}

.radio + label {
    cursor: pointer;
}

.radio:not(checked) {
    position: absolute;
    opacity: 0;
}

.radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
}

.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}

.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #9FD468;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .2s;
}

.radio:checked + label:after {
    opacity: 1;
}

.radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 25px;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;

    border-radius: 10px;
 border-radius: 10px;
  color: #CEA640;
  background: #FFF79A;
  border-bottom: 5px solid #E1B442;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}